# Convert glob patterns
*-
**.~vsd
**~$*.*
*.tmp
*.iml
**.rb~
**/.sonar
**/HeatGeneratedFileList.wxs
*.user

.directory
*.qvd
**/ConfigLocal/*

**/.tmp_proj
**/.classpath
**/.project
**/.settings
**/.idea
**/dist
**/temp
**/zip
**/generated
**/packages
**/__pycache__
**/UnitTestsOutput/**

.vagrant
*.swp
.classpath
Thumbs.db
Thumbs.db:encryptable
.venv
.gradle

**/UpgradeLog.htm
**/TestResult.xml
**/*.VisualState.xml
**/testResults.trx
**/*.vsmdi
**.nupkg
**.ear
.class
.war
**.user

/classes/
/classes/

Janus/.vs/
**/obj/
**/.vs/
**/output
*.trx
*.coveragexml
*.bak

Janus/FaceVerification/apps/
Janus/janus.zip
UnitTestsOutput/

# Convert regex patterns
.project
/bin/
**/bin/
/.orig
.log
samples.*
.*/TestResults/.*
ReSharper

Simulators/Gate/src/env/Lib/site-packages
Simulators/Gate/src/Python 3.8
Simulators/Gate/src/Env3_Python3.8

_pycache_